@if(pagedList(); as page){
<div class="content-section ">
    <div class="row">
        <div class="col-6">
            <span class="page-title">My Rentals ({{ page.metadata.totalCount }})</span>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end gap-2">

            @if(page.metadata.hasPrevious)
            {
            <button class="page-button" (click)="previousPage()">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            }
            <div class="pagination d-flex align-items-center gap-1">
                <input type="number" class="form-control form-control-sm page-input page-input-narrow"
                    [value]="page.metadata.currentPage" [min]="1" [max]="page.metadata.totalPages"
                    (change)="goToPage($any($event.target).valueAsNumber)" />
                <span>from</span>
                <span>{{ page.metadata.totalPages }}</span>
            </div>

            @if(page.metadata.hasNext){
            <button class="page-button" (click)="nextPage()">
                <i class="fa-solid fa-chevron-right"></i>
            </button>
            }

        </div>
    </div>

</div>
@for (rental of page.items; track rental.id)
{
<div class="content-section">
    <div class="d-flex d-align-items-center justify-content-between">
        <p class="my-0 content-section-title">
            @if(rental.status === RentalStatus.Created){
            <i class="fa-solid fa-square-plus" style="color: #ffffff;"></i>
            Rental Created
            }
            @if(rental.status === RentalStatus.Active){
            <i class="fa-regular fa-calendar-days" style="color: #ffffff;"></i>
            Rental Active
            }
            @if(rental.status === RentalStatus.Overdue){
            <i class="fa-solid fa-calendar-xmark" style="color: #ffffff;"></i>
            <span class="overdue">Rental Overdue</span>
            }
            @if(rental.status === RentalStatus.Completed){
            <i class="fa-solid fa-calendar-check" style="color: #ffffff;"></i>
            Rental Completed
            }
        <p class="my-0 content-section-title">
            Created ( {{ rental.dateCreated | date:'dd MMM yyyy, HH:mm' }} )
        </p>
    </div>
    <hr>
    <div class="col-12 mb-3">
        <div class="d-flex flex-column">
            <span>
                <span class="fs-14-px">Lended for </span>
                <span class="open-sans-bold fs-14-px">{{ rental.lenderName }}</span>
            </span>
            <span>
            </span>
            <div class="d-flex justify-content-between">
                <span class="fs-14-px">
                    Lended from
                    <span class="open-sans-bold">{{ rental.startingRentalDate | date:'dd MMM yyyy'}}</span>
                    to
                    <span class="open-sans-bold">{{ rental.endingRentalDate | date:'dd MMM yyyy' }}</span>
                </span>
                <span class="fs-14-px open-sans-bold">({{rental.rentalDays}} day/s period)</span>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <img [src]="`${imageBaseUrl}${rental.thumbnail.imagePath}`" class="img-fluid rounded"
                        [alt]="`${rental.thumbnail.altText}`" style="width: 80px; height: 80px; object-fit: cover;">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h6 class="mb-1 fw-bold fs-14-px">
                                {{ rental.itemName }}
                            </h6>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto fs-14-px">
                            <span>Lended <span class="open-sans-bold">{{ rental.quantity }} </span>units</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-12 d-flex justify-content-between">
        <span class="fs-14-px open-sans-bold">Paid</span>
        <span class="fs-14-px open-sans-bold">
            {{ rental.totalPricePaid.amount | number:'1.2-2'}} {{ rental.totalPricePaid.currency }}
        </span>
    </div>
    <hr>
    @if(rental.status === RentalStatus.Active || rental.status === RentalStatus.Overdue){
    <div class="col-12 text-center">
        <span class="link" (click)="returnRental(rental.id)">RETURN ITEM TO LENDER</span>
    </div>
    }
</div>
}
@if(page.items.length === 0){
    <app-empty-state [model]="emptyStateModel"></app-empty-state>
}
}