<div class="content-section">
    <form [formGroup]="cartForm">
        <div class="row">
            <div class="col-3">
                <img class="d-block img-fluid product-image" [src]="imageBaseUrl + saleCartOffer.image.imagePath"
                    [alt]="saleCartOffer.image.altText">
            </div>

            <div class="col-9  d-flex flex-column justify-content-between">
                <div class="row">
                    <div class="col-6">
                        <span class="offer-title">{{ saleCartOffer.title }}</span>
                        <br>
                        <span class="price fw">Price / unit:
                            <span>
                                {{ saleCartOffer.pricePerItem.amount}}
                                {{ saleCartOffer.pricePerItem.currency}}
                            </span>

                        </span>
                    </div>
                    <div class="col-6 text-end ">
                        <span class="fs-14-px">Subtotal: </span>
                        <span class="fs-14-px open-sans-bold">
                            {{ saleCartOffer.subtotal.amount | number:'1.2-2'}}
                            {{ saleCartOffer.subtotal.currency}}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <div class="quantity-wrapper"> 
                             <span class="input-labels">Quantity</span>
                            <button class="qty-btn" (click)="decrement()">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                            <input type="number" class="qty-input no-arrows" formControlName="quantity" min="1" />
                            <button class="qty-btn" (click)="increment()">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-2 justify-content-end d-flex align-items-center">
                        <i class="fa-regular fa-trash-can delete-icon" (click)="tryRemove(saleCartOffer.id)"></i>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>
