################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Byte&Buy.Backend/src/ByteBuy.API/wwwroot/Images/Items
/Byte&Buy.Desktop/src/ByteBuy.UI/Assets/Images/regular/order-details-68b1053a-b7f9-41b1-a9d4-0c88a7bd91ff.pdf
