<div class="content-section ">
    <div class="row">
        <div class="col-6">
            <div class="row align-items-center">
                <div class="col-4">
                    <img [src]="item.imageUrl" class="d-block img-fluid product-image" alt="...">
                </div>
                <div class="col-8">
                    <span class="offer-title">{{ item.offerTitle }}</span>
                    <br>
                    <span class="badge offer-badge">
                        <i class="fa-solid  fa-circle-check" style="color: #ffffff;"></i>
                        {{ item.offerType }}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
            <span class="open-sans-medium fs-14-px">{{ item.unitPrice}} PLN</span>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
            <div class="quantity-wrapper">
                <button class="qty-btn">
                    <i class="fa-solid fa-minus"></i>
                </button>
                <input type="number" class="qty-input no-arrows" [value]="item.quantity" min="1" />
                <button class="qty-btn">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
            <span class="open-sans-medium fs-14-px">{{ item.unitPrice * item.quantity }} PLN</span>
        </div>
    </div>
</div>