.page-wrapper {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .page-wrapper {
    width: 100%;
  }
}

.file-upload input[type="file"] {
  display: none;
}

.link {
  font-family: 'raleway-bold';
  font-size: 14px;
  transition: color 0.3s ease;
  text-decoration: none;
  color: var(--text-primary);
}

.link:hover {
  color: var(--primary-accent);
  cursor: pointer;
}

.price {
  font-size: 38px;
  font-family: 'open-sans-medium';
}

.offer-details-title {
  font-size: 18px;
  font-family: 'open-sans-medium';
}

.seller-badge {
  border: 1px solid var(--primary-accent);
  font-family: 'open-sans-medium';
}

span {
  font-family: 'open-sans-medium';
  font-size: 14px;
}

table {
  font-size: 14px;
}

td{
  background-color: transparent !important;
  color: var(--text-primary);
  font-family: 'open-sans-medium';
  border-top: 1px solid;
  border-color: var(--gray-accent);
}

#imageCarousel .carousel-inner {
  border-radius: 10px;
  aspect-ratio: 4 / 3;
}

#imageCarousel .carousel-item img,
#carouselExample .carousel-item img {
  width: 100%;
  border-radius: 10px;
  height: 100% !important;
  object-fit: cover !important;
  display: block;
}

.description{
  font-family: 'open-sans-medium';
}

a{
  font-family: 'open-sans-medium';
  text-decoration: none;
  transition: color 0.3s;
  color: var(--text-primary);
}

a:hover{
  cursor: pointer;
  color: var(--primary-accent);  
}

.sticky-top{
  z-index: 1 !important;
}