.container {
    color: var(--text-primary);
    font-weight: 500;
}

.register-window{
    padding: 50px;
    border-radius: 6px;
    border: 1px solid var(--primary-accent);
    background: var(--card-background);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.brand-section{
  background: var(--text-primary);
  background-clip: text;
  font-family: 'raleway-bold';
  color: transparent;
}

.separator {
    display: flex;
    font-weight: 500;
    align-items: center;
    text-align: center;
    color: var(--text-primary);
    font-size: 16px;
}

    .separator::before,
    .separator::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid var(--text-primary);
    }

    .separator:not(:empty)::before {
        margin-right: 10px;
    }

    .separator:not(:empty)::after {
        margin-left: 10px;
    }

