<div class="container">
    <div class="row mb-5 mt-5">
        <div class="col-12 col-lg-3">
            <div class="content-section p-4">
                <!-- Category Filters -->
                <p class="filter-section-title">Categories</p>
                <hr>
                <div class="mb-4">
                    @if(categories(); as categories){
                    @for (category of categories; track category.id)
                    {
                    <div class="mb-1">
                        <input type="checkbox" class="form-check-input checkbox me-2"
                            [checked]="selectedCategoryIds().includes(category.id)"
                            (change)="toggleCategory(category.id, $any($event.target).checked)" />
                        <label class="form-label">{{ category.title }}</label>
                    </div>
                    }
                    }
                </div>

                <p class="filter-section-title mt-5">Product Conditions</p>
                <hr>
                @if(conditions(); as conditions){
                @for (condition of conditions; track condition.id)
                {
                <div class="mb-1">
                    <input type="checkbox" class="form-check-input checkbox me-2"
                        [checked]="selectedConditionIds().includes(condition.id)"
                        (change)="toggleCondition(condition.id, $any($event.target).checked)" />
                    <label class="form-label">{{ condition.title }}</label>
                </div>
                }
                }
                <!-- General Filters -->
                <p class="filter-section-title mt-5">Filters</p>
                <hr class="mb-2">
                <div class="mb-4">
                    <label class="form-label">Location</label>
                    <input [value]="city() ?? ''" (input)="city.set($any($event.target).value)" type="text"
                        class="form-control" placeholder="Enter City, Place etc.">
                </div>
                <div class="mb-4">
                    <label class="form-label">Price</label>
                    <div class="row">
                        <div class="col-6">
                            <input [value]="minPrice() ?? ''" (input)="minPrice.set($any($event.target).value)"
                                type="number" class="form-control" placeholder="Min">
                        </div>
                        <div class="col-6">
                            <input [value]="maxPrice() ?? ''" (input)="maxPrice.set($any($event.target).value)"
                                type="number" class="form-control" placeholder="To">
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="form-label">Max Rental Days</label>
                    <div class="row">
                        <div class="col-6">
                            <input type="number" [value]="minRentalDays() ?? ''"
                                (input)="minRentalDays.set($any($event.target).value)" class="form-control"
                                placeholder="Min">
                        </div>
                        <div class="col-6">
                            <input type="number" [value]="maxRentalDays() ?? ''"
                                (input)="maxRentalDays.set($any($event.target).value)" class="form-control"
                                placeholder="Max">
                        </div>
                    </div>
                </div>

                <p class="filter-section-title mt-5">Actions</p>
                <hr>
                <div class="mb-4">
                    <button class="btn w-100 mb-2" (click)="applyFilters()">Apply Filtering</button>
                    <button class="btn w-100" (click)="clearFilters()">Clear Filters</button>
                </div>
            </div>
        </div>


        <!-- Sorting and Offer Section -->
        @if(pagedList(); as page){
        <div class="col-12 col-lg-9">
            <span class="fw-bold">Offer Listings</span>
            <span> - {{ page.metadata.totalCount }} found</span>
            <div class="content-section mt-1 mb-4">
                <div class="row">
                    <div class="col-6 d-flex align-items-center gap-2">
                        <span class="fw-bold">Sort by:</span>
                        <select class="form-select form-select-sm w-auto" [value]="query().sortBy"
                            (change)="onSortChange($any($event.target).value)">
                            @for (sort of sortOptions; track sort)
                            {
                            <option [value]="sort">
                                {{ OfferSortBy[sort] }}
                            </option>
                            }
                        </select>
                    </div>

                    <div class="col-6 d-flex align-items-center justify-content-end gap-2">

                        @if(page.metadata.hasPrevious)
                        {
                        <button class="page-button" (click)="previousPage()">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>
                        }
                        <div class="pagination d-flex align-items-center gap-1">
                            <input type="number" class="form-control form-control-sm page-input page-input-narrow"
                                [value]="page.metadata.currentPage" [min]="1" [max]="page.metadata.totalPages"
                                (change)="goToPage($any($event.target).valueAsNumber)" />
                            <span>from</span>
                            <span>{{ page.metadata.totalPages }}</span>
                        </div>

                        @if(page.metadata.hasNext){
                        <button class="page-button" (click)="nextPage()">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>
                        }

                    </div>
                </div>
            </div>

            <!-- Offer Section -->
            @if(page.items; as items){
            @if(page.items.length > 0)
            {
            @for (item of items; track $index)
            {
            @if(item.type === 'rent'){
            <app-rent-browser-item [offer]="item">
            </app-rent-browser-item>
            }

            @if(item.type === 'sale'){
            <app-sale-browser-item [offer]="item">
            </app-sale-browser-item>
            }
            }
            }@else {
            <div class="content-section flex-column  d-flex justify-content-center align-items-center">
                <i class="fa-regular fa-face-frown fa-3x" style="color: #ffffff;"></i>
                <p class="mt-2 mb-0">No records found with given filters.</p>
                <span class="fs-14-px">Change filters.</span>
            </div>
            }
            }
        </div>
        }

    </div>
</div>