<div class="container">
    <div class="row mb-5 mt-5" [formGroup]="filterForm">
        <div class="col-12 col-lg-3">
            <div class="filter-card sticky-top" >
                <div class="filter-header">
                    <i class="fa-solid fa-sliders me-2"></i>
                    Filters
                </div>

                <!-- Categories -->
                <div class="filter-group">
                    <p class="filter-title">Categories</p>
                    @for (category of categories(); track category.id) {
                    <label class="filter-checkbox">
                        <input type="checkbox" class="form-check-input checkbox"
                            [checked]="filterForm.value.categoryIds?.includes(category.id)"
                            (change)="toggleCategory(category.id, $event.target.checked)">
                        <span>{{ category.title }}</span>
                    </label>
                    }
                </div>

                <!-- Conditions -->
                <div class="filter-group">
                    <p class="filter-title">Condition</p>
                    @for (condition of conditions(); track condition.id) {
                    <label class="filter-checkbox">
                        <input type="checkbox" class="form-check-input checkbox"
                            [checked]="filterForm.value.conditionIds?.includes(condition.id)"
                            (change)="toggleCategory(condition.id, $event.target.checked)">
                        <span>{{ condition.title }}</span>
                    </label>
                    }
                </div>

                <!-- Price -->
                <div class="filter-group">
                    <p class="filter-title">Price range</p>
                    <div class="row g-2">
                        <div class="col-6">
                            <input formControlName="minPrice" class="form-control" placeholder="Min" type="number">
                        </div>
                        <div class="col-6">
                            <input formControlName="maxPrice" class="form-control" placeholder="Max" type="number">
                        </div>
                    </div>
                </div>

                <div class="filter-group">
                    <p class="filter-title">City</p>
                    <div class="row g-2">
                        <div class="col-12">
                            <input formControlName="city" class="form-control" placeholder="Enter city">
                        </div>
                    </div>
                </div>

                <!-- Rental Days -->
                <div class="filter-group">
                    <p class="filter-title">Rental Days</p>
                    <div class="row g-2">
                        <div class="col-6">
                            <input type="number" formControlName="minRentalDays" class="form-control" placeholder="Min">
                        </div>
                        <div class="col-6">
                            <input type="number" formControlName="maxRentalDays" class="form-control" placeholder="Max">
                        </div>
                    </div>
                </div>

                <!-- Actions -->
                <div class="filter-actions">
                    <button class="btn btn-primary w-100 mb-2" (click)="applyFilters()">
                        Apply filters
                    </button>
                    <button class="btn btn-outline-secondary w-100" (click)="clearFilters()">
                        Clear
                    </button>
                </div>

            </div>
        </div>


        <!-- Sorting and Offer Section -->
        @if(pagedList(); as page){
        <div class="col-12 col-lg-9">
            <div class="d-flex justify-content-between content-section 
                align-items-center header-container mb-3">
                <div>
                    <h6 class="list-header">Offer listings</h6>
                    <small>
                        {{ page.metadata.totalCount }} results
                    </small>
                </div>

                <div class="d-flex align-items-center gap-2">
                    <span class="small">Sort by:</span>
                    <select class="form-select form-select-sm w-auto" formControlName="sortBy"
                        (change)="onSortChange($any($event.target).value)">
                        @for (sort of sortOptions; track sort) {
                        <option [value]="sort">
                            {{ OfferSortBy[sort] }}
                        </option>
                        }
                    </select>
                </div>
            </div>

            <!-- Offer Section -->
            @if(page.items; as items){
            @if(page.items.length > 0)
            {
            @for (item of items; track $index){
            @if(item.type === 'rent'){
            <app-rent-browser-item [offer]="item">
            </app-rent-browser-item>
            }

            @if(item.type === 'sale'){
            <app-sale-browser-item [offer]="item">
            </app-sale-browser-item>
            }
            }
            <app-pagination [metadata]="page.metadata" (goToNext)="nextPage()"
                (goToPrevious)="previousPage()"></app-pagination>
            }@else {
            <app-empty-state [model]="emptyStateModel"></app-empty-state>
            }
            }
        </div>
        }

    </div>
</div>