.filter-section-title {
    font-size: 18px;
    font-family: 'raleway-bold';
    color: var(--text-primary);
}

hr {
    background-color: var(--primary-accent);
    height: 3px;
    border: none;
    border-radius: 20px;
}

.badge {
    background-color: var(--primary-accent);
}
