.filter-card {
    background: var(--card-background);
    border-radius: 12px;
    padding: 20px;
    border: 1px solid var(--primary-accent);
}

.filter-header {
    font-family: 'raleway-bold';
    font-size: 18px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    color: var(--muted);
}

.filter-group {
    margin-bottom: 20px;
}

.filter-title {
    font-size: 14px;
    font-family: 'open-sans-bold';
    margin-bottom: 8px;
    color: var(--muted);
}

.filter-checkbox {
    display: flex;
    align-items: bottom;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 6px;
    cursor: pointer;
}

.list-header{
    font-family: 'open-sans-bold';
}

.header-container {
    border: 1px solid var(--primary-accent);
}
