@if(checkout(); as checkout){
<div class="container">
    <div class="row my-5">
        <!-- List of cart items -->
        <div class="col-12 col-lg-8">
            <div class="content-section text-start">
                <div class="row">
                    <div class="col-12">
                        <p class="my-0 content-section-title mb-2">
                            Shipping Address
                        </p>
                        @if(shippingAddress(); as address){
                        <div class="row d-flex justify-content-between">
                            <div class="col-6 col-md-5 col-lg-4">
                                <span class="fs-14-px open-sans-bold">{{ checkout.buyerFirstName}} {{
                                    checkout.buyerLastName }} {{ checkout.buyerPhone }}
                                </span>
                                <div class="card mt-2">
                                    <div class="card-body">
                                        <h5 class="card-title fs-14-px open-sans-bold">
                                            @if(address.isDefault){
                                            <i class="fa-solid fa-circle" style="color: #8b5cf6;"></i>
                                            }
                                            {{ address.label }}
                                        </h5>
                                        <p class="card-text open-sans-medium fs-14-px">

                                            {{ address.city}}, {{address.street}} {{ address.houseNumber }}<br>
                                            {{ address.postalCity }} {{ address.postalCode }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        @else{
                        <span class="fs-14-px validation-error">No default shipping address defined, add one to
                            proceed.</span>
                        }
                    </div>
                </div>
            </div>
            <div class="content-section text-start">
                <div class="row">
                    <div class="col-12">
                        <p class="my-0 content-section-title">
                            Payment Methods
                        </p>
                        <div class="row mt-3">
                            @if(checkout.avaliablePaymentMethods){
                            @for (method of checkout.avaliablePaymentMethods; track method.id)
                            {
                            <div class="col-auto">
                                <div class="card p-2 text-center payment-card"
                                    [class.card-selected]="selectedPaymentMethod() === method.id" style="width: 56px;"
                                    (click)="selectPaymentMethod(method.id)">
                                    @if(method.title === 'Blik'){
                                    <img height="31"
                                        src="https://cdn.brandfetch.io/id9mHBGLZz/theme/dark/logo.svg?c=1bxid64Mup7aczewSAYMX&t=1764366859367">
                                    }
                                    @if(method.title === "Card"){
                                    <i class="fa-regular fa-credit-card fa-2x" style="color: #ffffff;"></i>
                                    }
                                </div>
                            </div>
                            }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Packages -->
            @for (sellerGroup of checkout.sellersGroups; track $index)
            {

            @let delivery = deliveryBySeller()[sellerGroup.sellerId.toString()];
            <div class="content-section">
                <p class="my-0 content-section-title">
                    <i class="fa-solid fa-box-open" style="color: #ffffff;"></i> Package {{ $index + 1}} of {{
                    checkout.sellersGroups.length }}
                </p>
                <hr>
                <div class="col-12 d-flex justify-content-between mb-3">
                    <span class="fs-14-px">{{sellerGroup.checkoutItems.length}} items from
                        <span class="open-sans-bold"> {{ sellerGroup.sellerDisplayName }}
                            ({{sellerGroup.sellerEmail}})</span>
                    </span>
                    <span class="fs-14-px open-sans-bold">
                        {{ sellerGroup.itemsWorth.amount | number:'1.2-2' }} {{ sellerGroup.itemsWorth.currency }}
                    </span>
                </div>
                <div class="col-12">

                    @for (item of sellerGroup.checkoutItems; track $index)
                    {
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <img [src]="imageBaseUrl + item.thumbnail.imagePath" [alt]="item.thumbnail.altText"
                                        class="img-fluid rounded" style="width: 80px; height: 80px; object-fit: cover;">
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="mb-1 fw-bold fs-14-px">
                                                {{ item.itemName}}
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        @if(item.type === 'sale'){
                                        <div class="col  fs-14-px">
                                            {{ item.quantity}} × {{item.pricePerItem.amount | number:'1.2-2' }}
                                            {{item.pricePerItem.currency }}
                                        </div>
                                        }
                                        @else{
                                        <div class="col  fs-14-px">
                                            {{ item.quantity}} × {{item.rentalDays}} days x {{item.pricePerDay.amount |
                                            number:'1.2-2' }} {{item.pricePerDay.currency }}
                                        </div>
                                        }

                                        <div class="col-auto fs-14-px">
                                            {{ item.subtotal.amount | number:'1.2-2' }} {{ item.subtotal.currency }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <hr>
                <div class="col-12">

                    @if (delivery) {

                    @if(delivery.channel === 'ParcelLocker') {
                    <p class="content-section-title mb-1">Delivery Details</p>
                    <p class="content-section-description mb-3 open-sans-medium">
                        Additional delivery details are required for the selected delivery method.
                    </p>
                    <div class="mb-4">
                        <div class="row g-3 align-items-end">

                            <div class="col-12 col-md-4">
                                <label class="form-label fs-14-px open-sans-bold">
                                    Carrier
                                </label>
                                <input type="text" class="form-control" [value]="delivery.delivery.carrier" disabled>
                            </div>

                            <div class="col-12 col-md-4">
                                <label class="form-label fs-14-px open-sans-bold">
                                    Delivery Channel
                                </label>
                                <input type="text" class="form-control" [value]="delivery.delivery.deliveryChannel"
                                    disabled>
                            </div>


                            <div class="col-12 col-md-4">
                                <label class="form-label fs-14-px open-sans-bold">
                                    Parcel Locker ID
                                </label>
                                <input type="text" class="form-control"
                                    (input)="setParcelLocker(sellerGroup.sellerId.toString(), $any($event.target).value)"
                                    placeholder="e.g. WAW123" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    }


                    @if (delivery.channel === 'PickupPoint') {
                    <p class="content-section-title mb-1">Delivery Details</p>
                    <p class="content-section-description mb-3 open-sans-medium">
                        Additional delivery details are required for the selected delivery method.
                    </p>
                    <div class="mb-4">
                        <div class="row g-3 align-items-end">

                            <div class="col-12 col-md-4">
                                <label class="form-label fs-14-px open-sans-bold">
                                    Carrier
                                </label>
                                <input type="text" class="form-control" [value]="delivery.delivery.carrier" disabled>
                            </div>


                            <div class="col-12 col-md-4">
                                <label class="form-label fs-14-px open-sans-bold">
                                    Delivery Channel
                                </label>
                                <input type="text" class="form-control" [value]="delivery.delivery.deliveryChannel"
                                    disabled>
                            </div>


                            <div class="col-12 col-md-4">
                                <label class="form-label fs-14-px open-sans-bold">
                                    Pickup Point Name
                                </label>
                                <input type="text" class="form-control" [value]="delivery.delivery.name"
                                    placeholder="Żabka" disabled>
                            </div>

                            <div class="col-12 col-md-4">
                                <label class="form-label fs-14-px open-sans-bold">
                                    Pickup Point Id
                                </label>
                                <input type="text" class="form-control" placeholder="e.g. POP-MSD4"
                                    (input)="setPickupField(sellerGroup.sellerId.toString(), 'pickupPointId' ,$any($event.target).value)"
                                    autocomplete="off">
                            </div>

                            <div class="col-12 col-md-4">
                                <label class="form-label fs-14-px open-sans-bold">
                                    Street
                                </label>
                                <input type="text"
                                    (input)="setPickupField(sellerGroup.sellerId.toString(),'street',$any($event.target).value)"
                                    class="form-control" placeholder="e.g. Poniatowskiego" autocomplete="off">
                            </div>

                            <div class="col-12 col-md-4">
                                <label class="form-label fs-14-px open-sans-bold">
                                    City
                                </label>
                                <input type="text" class="form-control"
                                    (input)="setPickupField(sellerGroup.sellerId.toString(),'city',$any($event.target).value)"
                                    placeholder="e.g. Warszawa" autocomplete="off">
                            </div>

                            <div class="col-12 col-md-4">
                                <label class="form-label fs-14-px open-sans-bold">
                                    Local Number
                                </label>
                                <input type="text" class="form-control"
                                    (input)="setPickupField(sellerGroup.sellerId.toString(),'localNumber',$any($event.target).value)"
                                    placeholder="e.g. 56 / 2" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    }
                    }



                    @if(sellerGroup.deliveryOptions.parcelLockerDeliveries.length > 0){
                    <p class="content-section-title">Parcel Lockers</p>
                    @for (parcel of sellerGroup.deliveryOptions.parcelLockerDeliveries; track parcel.id) {
                    <div class="d-flex justify-content-between">
                        <label>
                            <input type="radio" class="form-check-input checkbox me-2" [name]="sellerGroup.sellerId"
                                (change)="selectDelivery(sellerGroup.sellerId.toString(), parcel)">
                            {{ parcel.name }}
                        </label>
                        <span class="fs-14-px">{{ parcel.amount | number:'1.2-2' }} {{ parcel.currency }}</span>
                    </div>
                    }
                    }
                    @if(sellerGroup.deliveryOptions.courierDeliveries.length > 0){
                    <p class="content-section-title mt-2 ">Courier</p>
                    @for (courier of sellerGroup.deliveryOptions.courierDeliveries; track courier.id) {
                    <div class="d-flex justify-content-between">
                        <label>
                            <input type="radio" class="form-check-input checkbox me-2" [name]="sellerGroup.sellerId"
                                (change)="selectDelivery(sellerGroup.sellerId.toString(), courier)">
                            {{ courier.name }}
                        </label>
                        <span class="fs-14-px">{{ courier.amount | number:'1.2-2' }} {{ courier.currency }}</span>
                    </div>
                    }
                    }
                    @if(sellerGroup.deliveryOptions.pickupPointDeliveries.length > 0){
                    <p class="content-section-title mt-2">Pickup Point</p>
                    @for (pickup of sellerGroup.deliveryOptions.pickupPointDeliveries; track pickup.id) {
                    <div class="d-flex justify-content-between">
                        <label>
                            <input type="radio" class="form-check-input checkbox me-2" [name]="sellerGroup.sellerId"
                                (change)="selectDelivery(sellerGroup.sellerId.toString(), pickup)">
                            {{ pickup.name }}
                        </label>
                        <span class="fs-14-px">{{ pickup.amount | number:'1.2-2' }} {{ pickup.currency }}</span>
                    </div>
                    }
                    }
                </div>
            </div>
            }
        </div>


        <div class="col-12 col-lg-4">
            <!-- Summary Container -->
            <div class="content-section sticky-top" style="top: 1rem; z-index: 999;">
                <p class="content-section-title mb-3">Checkout</p>
                <hr>
                <div class="mb-2 d-flex justify-content-between">
                    <span class="summary-item">Items Cost</span>
                    <span class="summary-value">
                        {{ checkout.itemsCost.amount | number:'1.2-2'}} {{ checkout.itemsCost.currency }}
                    </span>
                </div>
                <div class="mb-2 d-flex justify-content-between">
                    <span class="summary-item">Shipping</span>
                    <span class="summary-value">
                        @if(deliveryCost(); as delivery){
                        {{ delivery.amount | number:'1.2-2'}} {{ delivery.currency}}
                        }
                    </span>
                </div>
                <div class="mb-2 d-flex justify-content-between">
                    <span class="summary-item">Tax</span>
                    <span class="summary-value">
                        {{ checkout.tax.amount | number:'1.2-2'}} {{ checkout.tax.currency }}
                    </span>
                </div>
                <hr>
                <div class="mb-3 d-flex justify-content-between ">
                    <p class="content-section-title fw-bold">Total Cost</p>
                    <p class="total-cost" style="font-size: 16px;">
                        @if(finalTotalCost(); as totalCost){
                        {{ totalCost.amount | number:'1.2-2'}} {{ totalCost.currency }}
                        }
                    </p>
                </div>
                <button class="btn w-100 mb-2" (click)="submit()" [disabled]="!canPay()">Pay Now</button>
                <p class="pay-description">
                    By clicking this button, you confirm your purchase. Your card will be charged for the purchase
                    amount. Your bank may ask you for additional verification.
                </p>
            </div>
        </div>

    </div>



</div>
}