<div class="container h-100">
    <div class="page-wrapper mt-5 mb-5 ">
        <div class="row">
            <div class="col-12">
                <p class="page-title">Client Orders</p>
            </div>
        </div>
        <div class="content-section  d-flex justify-content-between align-items-center">
            <div class="">
                <input type="text" placeholder="Search phrase" class="form-control" id="searchField"/>
            </div>
            <a class="link">FILTERS</a>
        </div>
        @if(ordersList(); as orders){
        @for (order of orders; track $index)
        {
        <div class="content-section">
            <div class="d-flex d-align-items-center justify-content-between">
                <p class="my-0 content-section-title">
                    @if(order.status === OrderStatus.AwaitingPayment){
                    <i class="fa-solid fa-hourglass-end" style="color: #ffffff;"></i> Awaiting Payment
                    }
                    @if(order.status === OrderStatus.Paid){
                    <i class="fa-solid fa-coins" style="color: #ffffff;"></i> Order Paid
                    }
                    @if(order.status === OrderStatus.Canceled){
                    <i class="fa-solid fa-ban" style="color: #ffffff;"></i> Order Canceled by user
                    }
                    @if(order.status === OrderStatus.Shipped){
                    <i class="fa-solid fa-truck" style="color: #ffffff;"></i> Order in shipment
                    }
                    @if(order.status === OrderStatus.Returned){
                    <i class="fa-solid fa-arrow-rotate-left" style="color: #ffffff;"></i> Order returned
                    }
                    @if(order.status === OrderStatus.Delivered){
                    <i class="fa-solid fa-truck-ramp-box" style="color: #ffffff;"></i> Order delivered
                    }
                </p>
                <p class="my-0 content-section-title">
                    Purchased ({{ order.purchasedDate | date:'dd MMM yyyy, HH:mm' }})
                </p>
            </div>

            <hr>
            <div class="col-12 d-flex justify-content-between mb-3">
                <span class="fs-14-px">{{order.linesCount}} item/s from
                    <span class="open-sans-bold">{{ order.sellerDisplayName }}</span>
                </span>
                <span class="fs-14-px open-sans-bold">
                    {{ order.totalItemsCost.amount| number:'1.2-2'}} {{ order.totalItemsCost.currency}}
                </span>
            </div>
            <div class="col-12">

                @for (line of order.lines; track $index)
                {
                <!-- for order lines generation -->
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <img [src]="`${imageBaseUrl}${line.thumbnail.imagePath}`" class="img-fluid rounded"
                                    [alt]="`${line.thumbnail.altText}`"
                                    style="width: 80px; height: 80px; object-fit: cover;">
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="mb-1 fw-bold fs-14-px">
                                            {{ line.itemTitle }}
                                        </h6>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    @if(line.type === 'sale'){
                                    <div class="col  fs-14-px">
                                        {{ line.quantity }} x {{ line.pricePerItem.amount | number:'1.2-2'}} {{
                                        line.pricePerItem.currency }}
                                    </div>

                                    }
                                    @else{
                                    <div class="col  fs-14-px">
                                        {{ line.quantity }} x {{ line.rentalDays }} days x {{ line.pricePerDay.amount |
                                        number:'1.2-2'}} {{
                                        line.pricePerDay.currency }}
                                    </div>
                                    }

                                    <div class="col-auto fs-14-px">
                                        {{ line.total.amount | number:'1.2-2' }} {{ line.total.currency }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
                <hr>
                <div class="col-12 d-flex justify-content-between">
                    <span class="fs-14-px open-sans-bold">Total with shipment</span>
                    <span class="fs-14-px open-sans-bold">
                        {{ order.totalCost.amount| number:'1.2-2'}} {{ order.totalCost.currency}}
                    </span>
                </div>
                <hr>
                <div class="col-12 text-center">
                    <span class="link" [routerLink]="['/order', 'seller-details', `${order.orderId}`]">ORDER DETAILS</span>
                </div>
            </div>
        </div>
        }
        @if(ordersList.length === 0){
            <div class="content-section flex-column  d-flex justify-content-center align-items-center">
                <i class="fa-regular fa-face-frown fa-3x" style="color: #ffffff;"></i>
                <p class="mt-2 mb-0">No one purchased any of you offers yet.</p>
                <span class="fs-14-px">But I'm sure someone will.</span>
            </div>
        }
        }
    </div>
</div>