<div class="container ">
    <div class="page-wrapper mt-5 mb-5 ">
        @if(pagedList(); as page){
        <div class="content-section d-flex justify-content-between align-items-center">
            <span class="fs-16-px open-sans-bold">
                Client Orders
                ({{ page.metadata.totalCount }})
            </span>
            <a class="link" data-bs-toggle="offcanvas" data-bs-target="#filtersOffcanvas" role="button">FILTERS</a>
        </div>
        @for (order of page.items ; track $index)
        {
        <div class="content-section">
            <div class="d-flex d-align-items-center justify-content-between">
                <p class="my-0 content-section-title">
                    @if(order.status === OrderStatus.AwaitingPayment){
                    <i class="fa-solid fa-hourglass-end" style="color: #ffffff;"></i> Awaiting Payment
                    }
                    @if(order.status === OrderStatus.Paid){
                    <i class="fa-solid fa-coins" style="color: #ffffff;"></i> Order Paid
                    }
                    @if(order.status === OrderStatus.Canceled){
                    <i class="fa-solid fa-ban" style="color: #ffffff;"></i> Order Canceled by user
                    }
                    @if(order.status === OrderStatus.Shipped){
                    <i class="fa-solid fa-truck" style="color: #ffffff;"></i> Order in shipment
                    }
                    @if(order.status === OrderStatus.Returned){
                    <i class="fa-solid fa-arrow-rotate-left" style="color: #ffffff;"></i> Order returned
                    }
                    @if(order.status === OrderStatus.Delivered){
                    <i class="fa-solid fa-truck-ramp-box" style="color: #ffffff;"></i> Order delivered
                    }
                </p>
                <p class="my-0 content-section-title">
                    Purchased ({{ order.purchasedDate | date:'dd MMM yyyy, HH:mm' }})
                </p>
            </div>

            <hr>
            <div class="col-12 d-flex justify-content-between mb-3">
                <span class="fs-14-px">{{order.linesCount}} item/s from
                    <span class="open-sans-bold">{{ order.sellerDisplayName }}</span>
                    to
                    <span class="open-sans-bold">{{ order.buyerDisplayName }}</span>
                </span>
                <span class="fs-14-px open-sans-bold">
                    {{ order.totalItemsCost.amount| number:'1.2-2'}} {{ order.totalItemsCost.currency}}
                </span>
            </div>
            <div class="col-12">

                @for (line of order.lines; track $index)
                {
                <!-- for order lines generation -->
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <img [src]="`${imageBaseUrl}${line.thumbnail.imagePath}`" class="img-fluid rounded"
                                    [alt]="`${line.thumbnail.altText}`"
                                    style="width: 80px; height: 80px; object-fit: cover;">
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="mb-1 fw-bold fs-14-px">
                                            {{ line.itemTitle }}
                                        </h6>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    @if(line.type === 'sale'){
                                    <div class="col  fs-14-px">
                                        {{ line.quantity }} x {{ line.pricePerItem.amount | number:'1.2-2'}} {{
                                        line.pricePerItem.currency }}
                                    </div>

                                    }
                                    @else{
                                    <div class="col  fs-14-px">
                                        {{ line.quantity }} x {{ line.rentalDays }} days x {{ line.pricePerDay.amount |
                                        number:'1.2-2'}} {{
                                        line.pricePerDay.currency }}
                                    </div>
                                    }

                                    <div class="col-auto fs-14-px">
                                        {{ line.total.amount | number:'1.2-2' }} {{ line.total.currency }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
                <hr>
                <div class="col-12 d-flex justify-content-between">
                    <span class="fs-14-px open-sans-bold">Total with shipment</span>
                    <span class="fs-14-px open-sans-bold">
                        {{ order.totalCost.amount| number:'1.2-2'}} {{ order.totalCost.currency}}
                    </span>
                </div>
                <hr>
                <div class="col-12 text-center">
                    <span class="link" [routerLink]="['/order', 'seller-details', `${order.orderId}`]">ORDER
                        DETAILS</span>
                </div>
            </div>
        </div>
        }
        @if(page.items.length === 0){
        <app-empty-state [model]="emptyStateModel"></app-empty-state>
        }@else {
            <app-pagination [metadata]="page.metadata" (goToNext)="nextPage()" (goToPrevious)="previousPage()"></app-pagination>
        }
        }
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="filtersOffcanvas" aria-labelledby="filtersOffcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="filtersOffcanvasLabel">
            Filters
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close">
        </button>
    </div>

    <div class="offcanvas-body">
        <div class="mb-3">
            <label class="form-label">Search Buyer</label>

            <input type="text" class="form-control" [value]="buyerFullName() ?? ''"
                (input)="buyerFullName.set($any($event.target).value)" placeholder="Enter buyer name">
        </div>

        <div class="mb-3">
            <label class="form-label">Search Item Name</label>

            <input type="text" [value]="itemName() ?? ''" class="form-control" placeholder="Search phrase"
                (input)="itemName.set($any($event.target).value)">
        </div>

        <div class="mb-3">
            <label class="form-label">Order Status</label>
            <select class="form-select" [value]="selectedOrderStatus() ?? 'null'"
                (change)="onOrderStatusChange($any($event.target).value)">
                <option value="null" disabled>Select Status</option>
                @for (status of orderStatuses; track $index)
                {
                <option [value]="status">
                    {{ OrderStatus[status] }}
                </option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Purchased date</label>
            <input type="date" [value]="purchasedFrom()" (change)="purchasedFrom.set($any($event.target).value)"
                class="form-control mb-2">

            <input type="date" [value]="purchasedTo()" (change)="purchasedTo.set($any($event.target).value)"
                class="form-control">
        </div>

        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-primary" (click)="applyFilters()" data-bs-dismiss="offcanvas">
                Apply filters
            </button>
            <button class="btn btn-outline-secondary" (click)="clearFilters()" data-bs-dismiss="offcanvas">
                Clear
            </button>
        </div>

    </div>
</div>