<div class="content-section ">
    <span class="page-title">My Offers ({{ userOffers().length}})</span>
</div>
@if(userOffers(); as offers){
@for (item of offers; track $index) {
<div class="content-section mb-2">
    <div class="row">
        <div class="col-2 d-flex align-items-center justify-content-center">
            <img [src]="`${imageBaseUrl}${item.image.imagePath}`" class="d-block img-fluid offer-image"
                [alt]="item.image.altText">
        </div>
        <div class="col-10 d-flex flex-column justify-content-between">
            <div>
                <a class="offer-title"  [routerLink]="item.type === 'rent' 
                        ? ['/offers', 'rent', 'details', item.id]
                        : ['/offers', 'sale', 'details', item.id]">
                    {{ item.title }}
                </a>
            </div>
            <div>
                <span>
                    <span class="d-block">
                        <span class="fw-bold me-1 fs-14-px">Created:</span>
                        <span class="me-3 fs-14-px">{{ item.dateCreated | date }}</span>
                        <span class="fw-bold me-1 fs-14-px">Last Edited:</span>
                        <span class="fs-14-px">{{ item.dateEdited | date }}</span>
                    </span>
                    <span class="d-block">
                        <span class="fw-bold me-1 fs-14-px">Quantity:</span>
                        <span class="me-3 fs-14-px">{{ item.quantityAvaliable }}</span>
                        @if(item.type === 'rent'){
                        <span class="fw-bold me-1 fs-14-px">Price /day:</span>
                        <span class="fs-14-px me-3">
                            {{ item.pricePerDay.amount | number:'1.2-2'}} {{ item.pricePerDay.currency}}
                        </span>

                        <span class="fw-bold me-1 fs-14-px">Max rental days:</span>
                        <span class="fs-14-px">
                            {{ item.maxRentalDays }}
                        </span>
                        }
                        @if(item.type === 'sale'){
                        <span class="fw-bold me-1 fs-14-px">Price /unit:</span>
                        <span class="fs-14-px me-3">
                            {{ item.pricePerItem.amount | number:'1.2-2'}} {{ item.pricePerItem.currency}}
                        </span>
                        }

                    </span>
                </span>

            </div>
            <div class="col-12">
            </div>
            <div class="d-flex justify-content-between align-items-end">
                <span class="badge">
                    <i class="fa-solid fa-circle-check" style="color: #ffffff;"></i>
                    @if(item.type === 'rent'){
                    Rent Offer
                    }
                    @if(item.type === 'sale'){
                    Sale Offer
                    }
                </span>
                <span class="">
                    <button class="me-2 icon-btn" [routerLink]="item.type === 'rent' 
                        ? ['/offers', 'rent', 'edit', item.id]
                        : ['/offers', 'sale', 'edit', item.id]">
                        <i class=" fa-solid fa-pen-to-square action-icon"></i>
                    </button>
                    <button class="icon-btn" (click)="remove(item)">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
}
}
@else{
No offers defined yet .
}