<div class="content-section ">
    <span class="page-title">My Offers (12)</span>
</div>
<div class="content-section mb-2">
    <div class="row">
        <div class="col-2 d-flex align-items-center justify-content-center">
            <img [src]="" class="d-block img-fluid offer-image" [alt]="">
        </div>
        <div class="col-10 d-flex flex-column justify-content-between">
            <div>
                <a class="offer-title">
                    Ryzen 7
                </a>
            </div>
            <div>

                <span>
                    <span class="d-block">
                        <span class="fw-bold me-1 fs-14-px">Created:</span>
                        <span class="me-3 fs-14-px">2 Sept 2026</span>
                        <span class="fw-bold me-1 fs-14-px">Last Edited:</span>
                        <span class="fs-14-px">2 Sept 2026</span>
                    </span>
                    <span class="fs-14-px open-sans-medium">
                        12 PLN / day
                    </span>
                </span>

            </div>
            <div class="col-12">
            </div>
            <div class="d-flex justify-content-between align-items-end">
                <span class="badge">
                    <i class="fa-solid fa-circle-check" style="color: #ffffff;"></i>
                    Rent Offer
                </span>
                <span class="">
                    <button class="me-2 icon-btn">
                        <i class="fa-solid fa-pen-to-square action-icon"></i>
                    </button>
                    <button class="icon-btn">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>

                </span>
            </div>
        </div>
    </div>
</div>