.offer-badge {
    font-size: 12px !important;
}

.offer-image {
    width: 100%;
    height: 130px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 10px;
}

.location span {
    font-size: 12px;
    font-family: 'open-sans-medium';
}

.offer-title {
    font-size: 16px;
    font-family: 'raleway-bold';
    text-decoration: none;
    color: var(--text-primary);
    transition: 0.3s ease;
}

.parameters{
    font-size: 14px;
}

.content-section {
    transition: 0.2s ease;
}

.content-section:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}


@media (max-width: 991.98px) {
    .content-section{
        transition: none !important;
        transform: none !important;
        box-shadow: none !important;
    }
}