.page-wrapper {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .page-wrapper {
    width: 100%;
  }
}

.description{
  font-size: 14px
}

.deliveries{
  font-size: 14px;
}

.file-upload input[type="file"] {
  display: none;
}

.price {
  font-size: 38px;
  font-family: 'open-sans-medium';
}

.offer-details-title {
  font-size: 18px;
  font-family: 'open-sans-medium';
}

.seller-badge {
  font-size: 14px !important;
  border: 1px solid var(--primary-accent);
  font-family: 'open-sans-medium';
}

span {
  font-family: 'open-sans-medium';
}

table {
  font-size: 14px ;
}

td{
  background-color: transparent !important;
  color: var(--text-primary);
  font-family: 'open-sans-bold';
  border-top: 1px solid;
  border-color: var(--gray-accent);
}

#imageCarousel .carousel-inner {
  border-radius: 10px;
  width: 100%;
  height: 100%; 
  overflow: hidden; 
  position: relative;
}

#imageCarousel .carousel-item {
  width: 100%;
  height: 100%;
}

#imageCarousel .carousel-item img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover; 
  display: block;
  border-radius: 10px;
}

.description{
  font-family: 'open-sans-medium';
}

.sticky-top{
  z-index: 1 !important;
}

.horizontal-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.images-row {
    display: flex;
    gap: 15px;
}

.image-card {
    flex: 0 0 auto;
    width: 160px;
}

.image-card img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.image-deleted {
    opacity: 0.1;
    cursor: not-allowed;
    background-color: #ccc;
    border: 1px solid #999;
}

.input-disabled{
    background-color: #808080;
    border: 1px solid #999;
    cursor: not-allowed;
}