@if(rentOfferDetails(); as offer){
<div class="container my-5 ">
    <div class="row ">
        <!-- Left Column -->
        <div class="col-lg-8">
            <div class="content-section">
                <div class="row">
                    <div class="col-12">
                        <div id="imageCarousel" class="carousel slide">
                            <div class="carousel-inner">

                                @for (item of offer.images; track $index)
                                {
                                <div class="carousel-item" [class.active]="$index === 0">
                                    <img [src]="imageBaseUrl + item.imagePath" class="d-block w-100" [alt]="item.altText">
                                </div>
                                }
                            </div>
                            @if(offer.images.length > 1){
                                <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            }
                        </div>
                    </div>
                </div>

            </div>

            <div class="content-section">
                <div class="row">
                    <div class="col-12">
                        <p class="content-section-title mb-3">Description</p>
                        <div class="description mb-2" [innerHTML]="description">
                        </div>

                        <p class="content-section-title mb-3 mt-5">Product Parameters</p>
                        <table class="table w-100">
                            <tbody>
                                <tr>
                                    <td>Condition</td>
                                    <td class="fw-bold">{{ offer.condition }}</td>
                                </tr>
                                <tr>
                                    <td>Category</td>
                                    <td class="fw-bold">{{ offer.category }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <app-seller-info [seller]="seller()" />

        </div>

        <!-- Right Column -->
        <div class="col-lg-4 mb-2">
            <div class="sticky-top" style="top: 1rem;">
                <div class="content-section">

                    <!-- Title + favourite button -->
                    <div class="row">
                        <div class="col-10">
                            <p class="offer-details-title">{{ offer.title }}</p>
                        </div>
                        <div class="col-2 text-end">
                            <i class="fa-regular fa-heart" style="color: #ffffff;"></i>
                        </div>
                    </div>

                    <!-- Price -->
                    <div class="row">
                        <div class="col-12">
                            <p class="price">{{ offer.pricePerDayAmount | number: '1.2-2' }} {{
                                offer.pricePerDayCurrency }}</p>
                            <span class="badge seller-badge mb-2 me-2">
                                <i class="fa-brands fa-ello" style="color: #ffffff;"></i>
                                Seller: {{offer.seller.type == 'company' ? "Company" : "Private"}}
                            </span>
                            <span class="badge seller-badge mb-2 me-2">
                                <i class="fa-solid fa-box-open" style="color: #ffffff;"></i>
                                Avaliable: {{offer.quantityAvaliable}}
                            </span>
                            <span class="badge seller-badge mb-2 me-2">
                                <i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i>
                                Max days per rental: {{ offer.maxRentalDays }}
                            </span>
                            <span class="badge seller-badge mb-2 me-2">
                                <i class="fa-solid  fa-circle-check" style="color: #ffffff;"></i>
                                Rent Offer
                            </span>
                        </div>
                    </div>

                    <form [formGroup]="cartForm" (ngSubmit)="addToCart()">
                        <div class="row mt-2 align-items-center pt-3">
                            <div class="col-6">
                                <span>Quantity</span>
                                <input type="number" formControlName="quantity" class="form-control">
                                <span class="validation-error"> {{ getError('quantity') }}</span>
                            </div>
                            <div class="col-6">
                                <span>Rental Days</span>
                                <input type="number" formControlName="rentalDays" class="form-control">
                                <span class="validation-error"> {{ getError('rentalDays') }}</span>
                            </div>
                            <div class="col-12 mt-2">
                                <button class="btn w-100">
                                    <i class="fa-solid fa-cart-arrow-down me-1" style="color: #ffffff;"></i>
                                    To Cart
                                </button>
                            </div>
                        </div>
                    </form>

                </div>

                <!-- Deliveries Section -->
                <div class="content-section">
                    <div class="row mb-2">
                        <div class="col-12">
                            <p class="content-section-title">Deliveries</p>
                        </div>
                    </div>
                    @if(deliveries(); as deliveries){
                    @for (item of deliveries; track $index)
                    {
                    <div class="mb-1 d-flex justify-content-between">
                        <span>{{item.name}}</span>
                        <span>{{item.amount}} {{item.currency}}</span>
                    </div>
                    }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}