.navbar {
  background-color: var(--card-background);
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 5px 0px black;
  font-family: 'raleway-bold';
  font-size: 14px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.55rem;
  color: var(--text-primary);
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.nav-link {
  align-items: center;
  font-weight: 500;
  gap: 0.4rem;
  color: var(--text-primary);
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.nav-link.dropdown-toggle.show{
  color: var(--primary-accent);
}

.nav-link i {
  align-items: center;
  line-height: 1.2;
}

.nav-link:hover {
  color: var(--primary-accent);
}

.search-form {
  flex: 1;
  margin-right: 0 !important;
  font-family: 'raleway-medium';
  max-width: 500px;
  min-width: 280px;
}

.dropdown-menu.show{
  background-color: var(--card-background);
}

.dropdown-item {
  color: var(--text-primary);
  background-color: var(--card-background);
  padding: 10px, 0px;
  font-size: 14px;
}

.dropdown-item:hover {
  color: var(--primary-accent);
  background-color: var(--card-background);
}

.search-form input {
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px 0 0 10px;
}

.search-form .btn {
  border-radius: 0 10px 10px 0;
  border: 1px solid var(--secondary-accent);
}

.navbar-toggler{
  color: var(--text-primary) !important;
  border-color: var(--primary-accent) !important; 
}

.navbar-toggler:focus{
  border: 0px;
}