footer {
    border-top: 1px solid var(--outline-color);
    background: var(--card-bg);
    color: var(--text);
    font-family: 'raleway-medium';
}

.footer-list {
    font-weight: 400;
    list-style-type: none;
    padding: 0;
}

.socials-icon {
    color: #fff;
    border-radius: 20%;
    padding: 7px;
    background-color: var(--primary);
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;
}

.socials-icon:hover {
    color: var(--secondary);
    background: #fff;
    border: 1px solid var(--secondary);
}

.spacer {
    border: 1px solid var(--text-muted);
}

.footer-link {
    font-weight: 600;
    margin-right: 15px;
    color: var(--text);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: var(--secondary);
}
