<div class="container">
    <div class="row mt-5 mb-5">

        <!-- Sidebar  -->
        <div class="col-12 col-md-3">
            <div class="sticky-top" style="top: 1rem;">
            <div class="text-center content-section">
                <div class="mb-2">
                    <i class="fa-solid fa-user fa-6x" style="color: #ffffff;"></i>
                </div>
                <span class="badge primary-background bold-text d-inline-block">Portal User</span>
                <br>
                <span class="bold-text fs-14-px text-break">wojceichmucha12@gmail.com</span>
            </div>
            <div class="content-section">
                <a class="action-link" [routerLink]="['/profile/personal-info']" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <div class="px-3 py-3 action-tile">
                        Personal Information
                    </div>
                </a>
                <a class="action-link" [routerLink]="['/profile/addresses']" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <div class="px-3 py-3 action-tile">
                        Addresses
                    </div>
                </a>
                <a class="action-link" [routerLink]="['/profile/my-offers']" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <div class="px-3 py-3 action-tile">
                        My Offers
                    </div>
                </a>
                <a class="action-link" [routerLink]="['/profile/my-orders']" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <div class="px-3 py-3 action-tile">
                        My Orders
                    </div>
                </a>
                <a class="action-link" [routerLink]="['/profile/my-rentals']" routerLinkActive="active-link"  [routerLinkActiveOptions]="{ exact: true }">
                    <div class="px-3 py-3 action-tile">
                        My Rentals
                    </div>
                </a>
                <a class="action-link">
                    <div class="px-3 py-3 action-tile" (click)="onLogout()">
                        Logout
                    </div>
                </a>
            </div>
            </div>
        </div>

        <!-- Right Side -->
        <div class="col-12 col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>