.bold-text {
    font-family: 'raleway-bold';
}

.default-font-size {
    font-size: 14px;
}

.primary-background {
    background-color: var(--primary-accent);
}

.action-tile {
    font-family: 'open-sans-bold';
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid var(--gray-accent);
    transition: ease 0.3s;
}

.action-tile:hover {
    background-color: var(--hover-accent);
    cursor: pointer;
}

.action-link {
    color: var(--text-primary);
    text-decoration: none;
    transition: ease 0.3s;
}

.action-link:hover {
    color: var(--primary-accent);
}

.active-link {
    color: var(--primary-accent);
}

.active-link div{
    background-color: var(--hover-accent) !important;
}