<div class="login-page">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">

            <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5 login-window">

                <!-- Brand -->
                <div class="mb-5 d-flex justify-content-center brand-section align-items-center">
                    <i class="fa-solid fa-laptop-code fa-3x me-3"></i>
                    <h1 class="fw-bold mb-0">Byte&Buy</h1>
                </div>

                <!-- Login Form -->
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email" id="inputEmail">
                        @if(getErrorMessage('email')){
                        <span class="validation-error"> {{ getErrorMessage('email') }}</span>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password" id="inputPassword">
                        @if(getErrorMessage('password')){
                        <span class="validation-error"> {{ getErrorMessage('password') }}</span>
                        }
                    </div>

                    <div class="mb-3 d-flex justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input checkbox" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                        <a class="text-normal-size">Forgot Password?</a>
                    </div>

                    <span class="validation-error">{{ errorMessage() }}</span>

                    <div class="mb-3">
                        <button type="submit" class="btn w-100" [disabled]="loading()">Log in</button>
                    </div>

                    <div class="mb-3">
                        <div class="separator">
                            <span>Or continue with</span>
                        </div>
                    </div>

                    <div class="mb-3 d-flex justify-content-between">
                        <button type="button" class="btn w-100 disabled me-1">
                            <i class="fa-brands fa-facebook me-1"></i> Facebook
                        </button>
                        <button type="button" class="btn w-100 disabled ms-1">
                            <i class="fa-brands fa-google me-1"></i> Google
                        </button>
                    </div>

                    <div class="mb-3">
                        <button type="button" class="btn w-100 disabled">
                            <i class="fa-brands fa-github me-1"></i>
                            Log in using GitHub
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>