@if(companyInfo(); as info){
<footer>

    <!--Spacer-->
    <hr class="mt-5 mb-5 spacer">

    <div class="container-fluid text-normal-size">
        <!--Brand & Slogan-->
        <div class="row">
            <div class="col-6 d-flex justify-content-left align-items-center ps-5">
                <h4 class="fw-bold">{{info.companyName}}</h4>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center pe-5">
                <span class="fw-bold">{{info.slogan}}</span>
            </div>
        </div>

        <!--Spacer-->
        <hr class="mt-5 mb-5 spacer">

        <div class="row mt-2">
            <div class="col-12 col-md-4 text-center text-md-start pb-5 pb-mb-0 ps-md-5">
                <div class="row">
                    <div class="col-12">
                        {{info.companyName}}<br>
                        {{info.address.street}} {{info.address.houseNumber}} {{ info.address.flatNumber ? `/ ${info.address.flatNumber}` : '' }} <br>
                        {{info.address.postalCode}} {{info.address.city}},
                        {{info.address.country}}<br>
                        {{info.email}}<br>
                        {{info.phone}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 pb-5 text-center">
                <div class="row">
                    <div class="col-6">
                        <p class="footer-section-title">Legal</p>
                        <ul class="footer-list">
                            <li>
                                <span>Privacy Policy</span>
                            </li>
                            <li>
                                <span>Terms of service</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <p class="footer-section-title">About</p>
                        <ul class="footer-list">
                            <li>
                                Contact
                            </li>
                            <li>
                                Carrers
                            </li>
                            <li>
                                Our People
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center text-md-end pe-md-5">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" disabled type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-earth-americas me-1"></i>Language
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">Polish</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Spacer-->
        <hr class="mt-5 mb-5 spacer">

        <div class="row pb-4">
            <div class="col-12 col-lg-4 text-center fw-bold text-lg-start ps-lg-5 pb-5 pb-lg-0 order-3 order-lg-1">
                © 2026 - Wojciech Mucha
            </div>

            <div class="col-12 col-lg-4 text-center order-2 pb-3 pb-lg-0 text  order-lg-2 ">
                <ul class="footer-list">
                    <li>
                        <a class="me-2 socials-icon">
                            <i class="fa-brands fa-instagram fa-lg"></i>
                        </a>
                        <a [href]="githubLink" class="me-2 socials-icon">
                            <i class="fa-brands fa-github fa-lg"></i>
                        </a>
                        <a [href]="discordLink" class="me-2 socials-icon">
                            <i class="fa-brands fa-discord fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-lg-4 text-center pb-3 pb-lg-0 text-lg-end pe-lg-5 order-1 order-lg-3 ">
                <ul class="footer-list">
                    <li>
                        <a href="#" class="footer-link">Terms</a>
                        <a href="#" class="footer-link">Privacy</a>
                        <a href="#" class="footer-link">Cookies</a>
                        <a href="#" class="footer-link">Location</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
}
@else {
<div class="footer-spinner-overlay">
    <div class="footer-spinner"></div>
</div>
}