footer {
    border-top: 1px solid black;
    background: var(--card-background);
    color: var(--text-primary);
    font-family: 'raleway-medium';
    box-shadow: 0px 0px 5px 0px black;
}

.footer-section-title{
    font-family: 'raleway-bold';
}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.socials-icon {
    color: #fff;
    border-radius: 20%;
    padding: 10px;
    background-color: var(--primary-accent);
    transition: background-color 0.3s ease;
    border: 1px solid var(--secondary-accent);
}

.socials-icon:hover {
    background-color: var(--hover-accent) !important;
    color: var(--text-primary);
    border-color: var(--secondary-accent);
}

.spacer {
    border: 1px solid var(--primary-accent);
}

.footer-link {
    font-weight: 600;
    margin-right: 15px;
    color: var(--text-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: var(--primary-accent);
    
}
