@if(companyInfo()){
<footer>

    <!--Spacer-->
    <hr class="mt-5 mb-5 spacer">

    <div class="container-fluid text-normal-size">
        <!--Brand & Slogan-->
        <div class="row">
            <div class="col-6 d-flex justify-content-left align-items-center ps-5">
                <i class="fa-solid fa-laptop-code fa-2x"></i>
                <h4 class="fw-bold">{{companyInfo()?.companyName}}</h4>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center pe-5">
                <span class="fw-bold">{{companyInfo()?.slogan}}</span>
            </div>
        </div>

        <!--Spacer-->
        <hr class="mt-5 mb-5 spacer">

        <div class="row mt-2">
            <div class="col-12 col-md-4 text-center text-md-start pb-5 pb-mb-0 ps-md-5">
                <div class="row">
                    <div class="col-12">
                        {{companyInfo()?.companyName}}<br>
                        {{companyInfo()?.address?.street}} {{companyInfo()?.address?.houseNumber}}<br>
                        {{companyInfo()?.address?.postalCode}} {{companyInfo()?.address?.city}}, {{companyInfo()?.address?.country}}<br><br>

                        {{companyInfo()?.email}}<br>
                        {{companyInfo()?.phone}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 pb-5 text-center text-md-start">
                <div class="row">
                    <div class="col-4">
                        <p class="footer-section-title">Company Info</p>
                        <ul class="footer-list">
                            <li>
                                <span>Placeholder</span>
                            </li>
                            <li>
                                <span>Placeholder</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <p class="footer-section-title">Legal</p>
                        <ul class="footer-list">
                            <li>
                                <span>Privacy Policy</span>
                            </li>
                            <li>
                                <span>Terms of service</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <p class="footer-section-title">About</p>
                        <ul class="footer-list">
                            <li>
                                Contact
                            </li>
                            <li>
                                Carrers
                            </li>
                            <li>
                                Our People
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-center text-md-end pe-md-5">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-earth-americas me-1"></i>English
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Spacer-->
        <hr class="mt-5 mb-5 spacer">

        <div class="row pb-4">
            <div class="col-12 col-lg-4 text-center fw-bold text-lg-start ps-lg-5 pb-5 pb-lg-0 order-3 order-lg-1">
                © 2025 - Wojciech Mucha
            </div>

            <div class="col-12 col-lg-4 text-center order-2 pb-3 pb-lg-0 text  order-lg-2 ">
                <ul class="footer-list">
                    <li>
                        <a href="#" class="me-2 socials-icon">
                            <i class="fa-brands fa-youtube fa-lg"></i>
                        </a>
                        <a href="#" class="me-2 socials-icon">
                            <i class="fa-brands fa-instagram fa-lg"></i>
                        </a>
                        <a href="#" class="me-2 socials-icon">
                            <i class="fa-brands fa-github fa-lg"></i>
                        </a>
                        <a href="#" class="me-2 socials-icon">
                            <i class="fa-brands fa-discord fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-lg-4 text-center pb-3 pb-lg-0 text-lg-end pe-lg-5 order-1 order-lg-3 ">
                <ul class="footer-list">
                    <li>
                        <a href="#" class="footer-link">Terms</a>
                        <a href="#" class="footer-link">Privacy</a>
                        <a href="#" class="footer-link">Cookies</a>
                        <a href="#" class="footer-link">Location</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
}
@else {
  <footer class="footer loading">
    <div class="spinner"></div>
    <p>Loading Footer Data...</p>
  </footer>
}
