.navbar {
    background-color: var(--card-bg);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.navbar-brand{
    font-weight: 700;
    font-size: 1.55rem;
    color: linear-gradient(90deg, var(--cta-gradient-start), var(--cta-gradient-end));
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.nav-link {
  align-items: center;
  font-weight: 500;
  gap: 0.4rem;
  color: var(--text);
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.nav-link i {
  align-items: center;
  line-height: 1.2;
}

.nav-link:hover {
  color: var(--primary);
}

.navbar-icon {
  color: var(--text);
}

.search-form {
  flex: 1;
  margin-right: 0 !important;
  max-width: 500px;
  min-width: 280px;
}

.dropdown-item{
  font-weight: 500;
  color: var(--text);
}

.dropdown-item:hover{
  color: var(--primary);
  background-color: var(--card-bg);
}

.search-form input {
  flex: 1;
  font-weight: 500;
  border-radius: 20px 0 0 20px;
}

.search-form input:focus {
  outline: none;
  box-shadow: 0 0 5px var(--secondary);
  border-color: var(--secondary);
}

.search-form .btn {
    border-radius: 0 20px 20px 0; 
    border: 1px solid var(--primary);
}
