<div class="payment-gate">
    @if (paymentModel(); as model) {
    <div class="payment-card">

        <form [formGroup]="form" (ngSubmit)="submit()">

            <!-- Heder-->
            <div class="payment-header">
                <span class="payment-title">Payment</span>

                @if (model.method === PaymentMethod.Blik) {
                <img height="28" src="https://cdn.brandfetch.io/id9mHBGLZz/theme/dark/logo.svg" alt="BLIK" />
                }

                @if (model.method === PaymentMethod.Card) {
                <i class="fa-regular fa-credit-card fa-2x" style="color: white;"></i>
                }
            </div>

            <!-- TOTAL -->
            <div class="payment-total">
                <span>Total charge</span>
                <span class="amount">
                    {{ model.paymentTotal.amount | number:'1.2-2' }}
                    {{ model.paymentTotal.currency }}
                </span>
            </div>

            <hr />

            <!-- CARD PAYMENT -->
            @if (model.method === PaymentMethod.Card) {
            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label">Card Number</label>
                    <input type="text" class="form-control" formControlName="cardNumber">
                    <div class="error-placeholder">
                        <span class="validation-error">{{ getErrorMessage('cardNumber') }}</span>
                    </div>
                </div>

                <div class="col-6 mb-3">
                    <label class="form-label">Expiration</label>
                    <input type="text" class="form-control" formControlName="expiration">
                    <div class="error-placeholder">
                        <span class="validation-error">{{ getErrorMessage('expiration') }}</span>
                    </div>
                </div>

                <div class="col-6 mb-3">
                    <label class="form-label">CVC</label>
                    <input type="text" class="form-control" formControlName="cvc">
                    <div class="error-placeholder">
                        <span class="validation-error">{{ getErrorMessage('cvc') }}</span>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <label class="form-label">Card Holder</label>
                    <input type="text" class="form-control" formControlName="cardHolder">
                    <div class="error-placeholder">
                        <span class="validation-error">{{ getErrorMessage('cardHolder') }}</span>
                    </div>
                </div>
            </div>
            }

            <!-- BLIK PAYMENT -->
            @if (model.method === PaymentMethod.Blik) {
            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label">Phone</label>
                    <input type="text" class="form-control" formControlName="phone" pattern="[0-9]*">
                    <div class="error-placeholder">
                        <span class="validation-error">{{ getErrorMessage('phone') }}</span>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <label class="form-label">BLIK Code</label>
                    <input type="text" maxlength="6" class="form-control" formControlName="blikCode">
                    <div class="error-placeholder">
                        <span class="validation-error">{{ getErrorMessage('blikCode') }}</span>
                    </div>
                </div>
            </div>
            }

            <!-- SUBMIT -->
            <button class="btn w-100 pay-button">
                Pay securely
            </button>

        </form>
    </div>
    }
</div>