<div class="container">
    <div class="page-wrapper mt-5 mb-5">
        <div class="row">
            <div class="col-12">
                <p class="page-title">Order Details</p>
            </div>
        </div>
        <div class="content-section">
            <div class="delivery-row">
                <i class="fa-solid fa-box-open"></i>

                <div class="delivery-text">
                    <span class="content-title open-sans-bold">
                        Package delivered
                    </span>
                    <span class="fs-12-px">
                        wt. 27 sty 15:16
                    </span>
                </div>
            </div>

            <hr>

            <div class="d-flex justify-content-between">
                <div class="delivery-data">
                    <p class="fs-14-px title">Delivery Method</p>
                    <span class="subtext">Pickup point Delivery</span>
                    <span class="subtext">Delivery by FedEx</span>
                </div>
                <div class="delivery-data">
                    <p class="fs-14-px title">Recipient Data</p>
                    <span class="subtext">Jan Kowalski</span>
                    <span class="subtext">+48 60788010</span>
                    <span class="subtext">Siedlce 26</span>
                </div>

                <div class="delivery-data">
                    <p class="fs-14-px title">Delivered to</p>
                    <span class="subtext"></span>
                    <span class="subtext">WAW123P Parcel Locker</span>
                </div>

            </div>

        </div>
        <div class="content-section">
            <div class="col-12 d-flex justify-content-between mb-3">
                <span class="fs-14-px">2 item/s from
                    <span class="open-sans-bold">Byte&Buy</span>
                </span>
                <span class="fs-14-px open-sans-bold">
                    <!-- {{ order.totalItemsCost.amount| number:'1.2-2'}} {{ order.totalItemsCost.currency}} -->
                </span>
            </div>
            <div class="col-12">
                <!-- for order lines generation -->
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <img src="" style="width: 80px; height: 80px; object-fit: cover;">
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="mb-1 fw-bold fs-14-px">
                                            Twoj stara sra do gara
                                        </h6>
                                    </div>
                                </div>
                                <div class="row align-items-center">

                                    <div class="col  fs-14-px">
                                        15.234,00 PLN
                                    </div>


                                    <div class="col  fs-14-px">
                                        15.234,00 PLN
                                    </div>


                                    <div class="col-auto fs-14-px">
                                        15.234,00 PLN
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-12 d-flex justify-content-between">
                    <span class="fs-14-px open-sans-bold">
                        Shipment
                        <br>
                        <span class="fs-12-px">Inpost Parcel Locker - L</span>
                    </span>
                    <span class="fs-14-px open-sans-bold">
                        10,00 PLN
                    </span>
                </div>
                <hr>
                <div class="col-12 d-flex justify-content-between">
                    <span class="fs-14-px open-sans-bold">Total</span>
                    <span class="fs-14-px open-sans-bold">
                        15.234,00 PLN
                    </span>
                </div>
                <hr>
                <div class="col-12">
                    <span class="fs-14-px open-sans-bold">
                        <i class="fa-solid fa-file-invoice fa-xl me-1"></i>
                    </span>
                    <a class="link fs-14-px">Export to PDF</a>
                </div>
            </div>
        </div>
        <div class="content-section">
            <div class="row my-0">
                <div class="col-12">
                    <hr class="action-spacer">
                </div>
                <div class="col-12 action-row">
                    <div class="action-container">
                        <i class="fa-solid fa-ban fa-2x"></i>
                        <a class="link">CANCEL ORDER</a>
                    </div>
                </div>
                <div class="col-12">
                    <hr class="action-spacer">
                </div>
                <div class="col-12 action-row">
                    <div class="action-container">
                        <i class="fa-solid fa-arrow-rotate-left fa-2x"></i>
                        <a class="link">RETURN ORDER</a>
                    </div>
                </div>
                <div class="col-12">
                    <hr class="action-spacer">
                </div>
            </div>
        </div>
    </div>
</div>