@if(seller(); as seller){
<div class="content-section seller-info">
    <div class="row gy-3">
        <div class="col-12">
            <p class="content-section-title mb-2">Seller Information</p>
        </div>

        <div class="col-6 border-end pe-3">

            <p class="d-block">
                <i class="fa-regular fa-user" style="color: #ffffff;"></i>
                <span class="ms-2">Sells: </span>
                <span>
                    {{ seller.type === 'company' ? seller.companyName : seller.firstName }}
                </span>
            </p>

            <p class="d-block">
                <i class="fa-regular fa-envelope" style="color: #ffffff;"></i>
                <span class="ms-2">Email: </span>
                <span>
                    <a class="link" [href]="`mailto:${seller.type == 'company' ? seller.companyEmail :  seller.email}`">
                        {{ seller.type === 'company' ? seller.companyEmail : seller.email }}
                    </a>

                </span>
            </p>

            <p class="d-block" *ngIf="seller && 'accountCreatedDate' in seller">
                <i class="fa-solid fa-hourglass" style="color: #ffffff;"></i>
                <span class="ms-2">Account created: </span>
                <span class="">{{ seller.accountCreatedDate | date}}</span>
            </p>

        </div>
        <div class="col-6">
            <p class="d-block">
                <i class="fa-solid fa-map-location-dot" style="color: #ffffff;"></i>
                <span class="ms-2">
                    <a class="link" [href]="googleMapsLink()" target="_blank">
                        {{ seller.city + ', ' + seller.postalCity + ' ' + seller.postalCode }}
                    </a>
                </span>
            </p>

            <p class="d-block">
                <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
                <span class="ms-2">Phone: </span>
                <span>
                    <a class="link" [href]="`tel:${seller.phone}`">
                        {{ seller.phone}}
                    </a>
                </span>
            </p>

            <p class="d-block" *ngIf="seller && 'tin' in seller">
                <i class="fa-regular fa-building" style="color: #ffffff;"></i>
                <span class="ms-2 fw-bold">TIN: </span>
                <span>{{ seller.tin }}</span>
            </p>


        </div>
    </div>
</div>
}