<div class="content-section d-none d-md-block">
    <span class="page-title">Addresses</span>
</div>
<div class="content-section">
    <p class="content-section-title">Home Address</p>
    <p class="content-section-description">
        Home address is used for billing and is being used in offer to determine location of package.
        <br>Also without it you can't purchase anything.
    </p>
    <form [formGroup]="homeAddressForm" (ngSubmit)="onHomeAddressSubmit()">

        <div class="row mb-3">
            <div class="col-6">
                <label for="street" class="form-label">Street*</label>
                <input id="street" type="text" class="form-control" formControlName="street">
                <div class="error-placeholder">
                    <span class="validation-error">{{ getHomeError('street') }}</span>
                </div>
            </div>

            <div class="col-6">
                <label for="houseNumber" class="form-label">House Number*</label>
                <input id="houseNumber" type="text" class="form-control" formControlName="houseNumber">
                <div class="error-placeholder">
                    <span class="validation-error">{{ getHomeError('houseNumber')}}</span>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <label for="postalCity" class="form-label">Postal City*</label>
                <input id="postalCity" type="text" class="form-control" formControlName="postalCity">
                <div class="error-placeholder">
                    <span class="validation-error">{{ getHomeError('postalCity')}}</span>
                </div>
            </div>

            <div class="col-6">
                <label for="postalCode" class="form-label">Postal Code*</label>
                <input id="postalCode" type="text" class="form-control" formControlName="postalCode">
                <div class="error-placeholder">
                    <span class="validation-error">{{ getHomeError('postalCode')}}</span>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <label for="city" class="form-label">City*</label>
                <input id="city" type="text" class="form-control" formControlName="city">
                <div class="error-placeholder">
                    <span class="validation-error">{{ getHomeError('city') }}</span>
                </div>
            </div>

            <div class="col-6">
                <label for="country" class="form-label">Country*</label>
                <input id="country" type="text" class="form-control" formControlName="country">
                <div class="error-placeholder">
                    <span class="validation-error">{{ getHomeError('country') }}</span>
                </div>
            </div>
        </div>

        <div class="row mb-3 align-items-end">
            <div class="col-6">
                <label for="flatNumber" class="form-label">Flat Number</label>
                <input id="flatNumber" type="text" class="form-control" formControlName="flatNumber">
                <div class="error-placeholder">
                    <span class="validation-error">{{ getHomeError('flatNumber') }}</span>
                </div>
            </div>

            <div class="col-12 text-end">
                <button class="btn me-2" type="reset">Reset</button>
                <button class="btn" type="submit" [disabled]="isLoading() || homeAddressForm.invalid">
                    @if (isLoading()) {
                    <span class="spinner-border spinner-border-sm me-2"></span>
                    }
                    Save Changes
                </button>
            </div>
        </div>

    </form>
</div>
<div class="content-section">
    <div class="row">
        <div class="col-6">
            <p class="content-section-title">Shipping Addresses</p>
        </div>
        <div class="col-6 text-end">
            <i class="fa-solid fa-plus shipping-add" (click)="showShippingDialog(null)"></i>
        </div>
    </div>

    <p class="content-section-description">
        You can have multiple shipping addresses under your name. One address must be tagged as default to speed up
        order creation.
    </p>
    @if(shippingAddresses().length === 0 ){
        <app-empty-state [model]="emptyStateModel"></app-empty-state>
    }
    <div class="row">
        @for (item of shippingAddresses(); track $index)
        {
        <div class="col-6 col-lg-3 g-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fs-16-px">
                        @if(item.isDefault) { <i class="fa-solid fa-circle" style="color: #8b5cf6;"></i> }
                        {{ item.label }}
                    </h5>
                    <p class="card-text open-sans-medium fs-14-px">
                        {{ item.city}} {{item.houseNumber}} {{ item.flatNumber ? "/" + item.flatNumber : "" }} <br>
                        {{ item.postalCity }} {{ item.postalCode }}
                    </p>
                    <span class="card-link" (click)="deleteShippingAddress(item.id)">Delete</span>
                    <span class="card-link" (click)="showShippingDialog(item.id); $event.preventDefault()">Edit</span>
                </div>
            </div>
        </div>
        }
    </div>

    <app-shipping-address-dialog [visible]="displayShippingDialog" [countries]="countriesList()"
        (visibleChange)="displayShippingDialog.set($event)" [addressId]="selectedShippingId"
        (onSaved)="onShippingSaved()">
    </app-shipping-address-dialog>

</div>