<div class="container">
    <div class="row mt-5 mb-5">

        <!-- Sidebar  -->
        <div class="col-3">

            <div class="text-center content-section">
                <div class="mb-2">
                    <i class="fa-solid fa-user fa-6x" style="color: #ffffff;"></i>
                </div>
                <span class="badge primary-background bold-text">Portal User</span>
                <span class="bold-text default-font-size">wojceichmucha12@gmail.com</span>
            </div>
            <div class="content-section">
                <a class="action-link" [routerLink]="['/profile/personal-info']" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <div class="px-3 py-3 action-tile">
                        Personal Information
                    </div>
                </a>
                <a class="action-link" [routerLink]="['/profile/my-offers']" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <div class="px-3 py-3 action-tile">
                        My Offers
                    </div>
                </a>
                <a class="action-link" [routerLink]="['/profile/addresses']" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <div class="px-3 py-3 action-tile">
                        Addresses
                    </div>
                </a>
                <a class="action-link">
                    <div class="px-3 py-3 action-tile">
                        Purchase History
                    </div>
                </a>
                <a class="action-link">
                    <div class="px-3 py-3 action-tile">
                        Rentals
                    </div>
                </a>
                <a class="action-link">
                    <div class="px-3 py-3 action-tile">
                        Logout
                    </div>
                </a>
            </div>
        </div>

        <!-- Right Side -->
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>