<div class="container d-flex h-100 align-items-center justify-content-center">
    <div class="row gy-2">
        <div class="col-12 text-center">
            <h1 class="open-sans-medium fw-bold header">Oops!</h1>
        </div>
        <div class="col-12 text-center">
            <p class="eror-type">403 - Access to this resource is forbidden</p>
        </div>
        <div class="col-12 text-center">
            <p class="description">Sorry, we couldn't load this page for you due to your limited permissions.<br>
            If you claim that your rights were revoked unjustly/by mistake, contact us!</p>
        </div>
        <div class="col-12 text-center">
            <button class="btn" [routerLink]="['/']">Check out !</button>
        </div>
    </div>
</div>