<div class="content-section">
    <span class="page-title">Personal Information</span>
</div>
<div class="content-section">
    <form [formGroup]="userInfoForm" (ngSubmit)="onUserInfoSubmit()">
        <div class="row mb-3">
            <div class="col-6">
                <p class="content-section-title mb-1">First Name*</p>
                <input type="text" class="form-control" formControlName="firstName">
                @if (getErrorMessage("firstName")) {
                    <span class="validation-error">{{ getErrorMessage("firstName") }}</span>
                }
            </div>
            <div class="col-6">
                <p class="content-section-title mb-1">Last Name*</p>
                <input type="text" class="form-control" formControlName="lastName">
                @if (getErrorMessage("lastName")) {
                    <span class="validation-error">{{ getErrorMessage("lastName") }}</span>
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <p class="content-section-title mb-1">Email*</p>
                <input type="email" class="form-control" formControlName="email">
                @if (getErrorMessage("email")) {
                    <span class="validation-error">{{ getErrorMessage("email") }}</span>
                }
            </div>
            <div class="col-6">
                <p class="content-section-title mb-1">Phone*</p>
                <input type="text" class="form-control" formControlName="phoneNumber">
                @if (getErrorMessage("phoneNumber")) {
                    <span class="validation-error">{{ getErrorMessage("phoneNumber") }}</span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-end">
                <button class="btn me-2" type="reset">Reset</button>
                <button class="btn" type="submit">Save Changes</button>
            </div>
        </div>

    </form>
</div>

<div class="content-section">
    <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
        <div class="row mb-3">
            <div class="col-6">
                <p class="content-section-title mb-1">Current Password*</p>
                <input type="text" class="form-control">
            </div>
            <div class="col-6">
                <p class="content-section-title mb-1">New Password*</p>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-3 align-items-end">
            <div class="col-6">
                <p class="content-section-title mb-1">Confirm Password*</p>
                <input type="email" class="form-control">
            </div>
            <div class="col-6 text-end align-bottom">
                <button class="btn me-2" type="reset">Reset</button>
                <button class="btn" type="submit">Change Password</button>
            </div>
        </div>
    </form>
</div>