.pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.page-btn {
    border: none;
    background: var(--primary-accent);
    color: white;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: 0.2s ease;
}

.page-btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.page-btn:hover:not(:disabled) {
    transform: scale(1.1);
}

.page-info {
    font-size: 14px;
    font-family: 'open-sans-medium';
}